# Fill your values in this file.
# No variables are optional. You must specify everything in here.

# All resources will have this prepended to their name
environment_name = ""

# Globally unique prefix. We store finished artifacts in S3.
s3_bucket_name = "tas-ibcn-hydration"

# AWS Access/Secret keypairs
access_key = ""
secret_key = ""

# i.e. 'us-east-2'
region = ""
availability_zones = ["us-east-2a"]

# The name of the keypair, as it appears in the AWS console.
# use `aws ec2 describe-key-pairs` to list yours.
tas_importer_keypair = ""